@page
@model SimpleWebApp.Pages.AboutModel
@{
}


<h3><u>About us</u></h3>
<p>Transflower Learning Pvt. Ltd.</p>
<p><b>Mentor as a Service</b></p>
<p>Learning Experience...</p>
<p>Fullstack Application Development Skill Builder</p>
