@page
@model SimpleWebApp.Pages.ContactModel
@{
}
<h2>Contact us</h2>
<hr />
<p>Transflower Learning Pvt. Ltd.</p>
<p>Email: ravi.tambade@transflower.in</p>
<p>Address: 601, Rama Apartment, Walwekar Nagar, Pune Satara Road</p>
<p>Contact number:9881735801</p>