@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>

<form action="ForgotPassword" method="post">
    <table>
        <tr>
            <td> <label>Username:</label></td>
             <td> <input type="text" name="username" required /></td>
        </tr>
        <tr>
            <td> <label>New Password:</label></td>
            <td> <input type="password" name="newPassword" required /></td>
        </tr>
        <tr>
            <td> <label>Confirm Password:</label></td>
            <td> <input type="password" name="confirmPassword" required /></td>
        </tr>
       
    </table>
        
</form>
<button type="submit">Reset Password</button>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}
