@{
    ViewBag.Title = "Login";
}

<h2>Login Page</h2>
<hr/>


<form action="Login" method="post">
    <table>
        <tr>
            <td><b>User Name:</b><td>
            <td><input type="text" name="username" required/> </td>
        </tr>

        <tr>
            <td><b>Password:</b> <td>
            <td><input type="password" name="password" required /> </td>
        </tr>
    </table>
    <button type="submit">Login</button><br/>
    <hr/>
    <b>Don't Have A Account?</b><a href="register">Register Here</a><br/>
    <hr/>
    <a href="/auth/forgotpassword">Forgot Password</a>
   
</form>


