@{
    ViewBag.Title = "Login";
}

<h2>Login Page</h2>
<hr/>


<form action="Login" method="post">
    <table>
        <tr>
            <td><b>User Name:</b><td>
            <td><input type="text" name="email" required/> </td>
        </tr>

        <tr>
            <td><b>Password:</b> <td>
            <td><input type="password" name="password" required/> </td>
        </tr>
    </table>
    <button type="submit">Login</button><a href="register">Have A Account? Register</a>
   
</form>


