@{
    ViewData["Title"] = "Details Page";
}

<div class="text-center">
    <h1 class="display-4">Product Details</h1>
    <hr/>
    <p>Title:Rose</p>
    <p>Description:Wedding Flower</p>
    <p>Quantity:4546</p>
    <p>Likes:7K</p>
</div>
