@{
    ViewData["Title"] = "Insert Page";
}

<div class="text-center">
    <h1 class="display-4">Indert Product Details</h1>
    <p>Product Name:</p>
    <p>Product Category:</p>
    <p>Product Quantity:</p>
    <p>Product Price:</p>
</div>
