@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Transflower Store</h1>
    <hr/>
    <a href="/flowers/index">Choose Products</a>  |   <a href="/shoppingcart/index">My Shopping Cart</a>
</div>
