@*@{
    ViewData["Title"] = "Product Index Page";
}

<div class="text-center">
    <h1 class="display-4">Product Catalog</h1>
    <hr/>
    <ol>
        <li><a href="/products/details">Gerbera</a></li>
        <li><a href="/products/details">Rose</a></li>
        <li><a href="/products/details">Lotus</a></li>
        <li><a href="/products/details">Jasmine</a></li>
        <li><a href="/products/details/">Rose</a></li>
        <li><a href="/products/details/">Gerbera</a></li>
        <li><a href="/products/details/">Lotus</a></li>
        <li><a href="/products/details/">Lily</a></li>
        <li><a href="/products/details/">Marigold</a></li>
        <li><a href="/products/details/">Carnation</a></li>
    </ol>
</div>




 @{
    ViewData["Title"] = "Product Index Page";
}

<div class="text-center">

    <h1 class="display-4">Product Catalog</h1>
    @{
        List<string> products = ViewData["allProducts"] as List<string>;
    }
    <ol>
    
        @foreach(string title in products)
        {
            <li><a href="/products/details/">@title</a></li>
        }
    
    <ol>
        <li><a href="/products/details/">Rose</a></li>
        <li><a href="/products/details/">Gerbera</a></li>
        <li><a href="/products/details/">Lotus</a></li>
        <li><a href="/products/details/">Lily</a></li>
        <li><a href="/products/details/">Marigold</a></li>
        <li><a href="/products/details/">Carnation</a></li>
        
    </ol>
    
</div>*@


<style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }
</style>

@using Catalog;
@{
    ViewData["Title"] = "Products Page";
}

<div class="text-center">
    <h1 class="display-4">Product Catalog</h1>
</div>

<h1>Todays Fresh Flowers</h1>
<hr/>
<div>
    @foreach (Product  item in ViewData["products"] as List<Product>)
    {
    <div>  
        <div class="gallery">
                <a target="_blank" href="@item.ImageUrl">
                    <img src="@item.ImageUrl"   width="100" height="100">
                </a>
                <div class="desc">
                    @item.Title |<a href="/products/details/@item.Id">Details</a>
                </div>
        </div>
      
  </div>
    }
</div>

