@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contact US PAge</h1>
    <p>Website: @ViewBag.Website</p>
    <p>Product Details  : @ViewBag.product.Title</p>
    <p>Age :a @ViewBag.age</p>
</div>
