@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Login Existing User</h1><br/><br/>
    <hr/>
    User Name: <input type="text" name="username"/><br/><br/>
    Password: <input type="password" name="password"/><br/><br/>
    <input type="button" name="Login" value="Login"/>
</div>
