@{
    ViewData["Title"] = "Register Page";
}

<div class="text-center">
    <h1 class="display-4">Register New User</h1><br/><br/>
    <hr/>
    Name:<input type="text" name="username"/><br/><br/>
    Birth-Date:<input type="date" name="birthdate"/><br/><br/>
    Email ID:<input type="email" name="email"/><br/><br/>
    Password:<input type="password" name="password"/><br/><br/>
    <input type="button" name="Register" value="Register"/>
</div>
