@{
    ViewData["Title"] = "Forgot Password Page";
}

<div class="text-center">
    <h1 class="display-4">Forgot Password</h1>
    <hr/>
    User Name:<input type="text" name="username"/><br/><br/>
    New Password:<input type="password" name="fpassword"/><br/><br/>
    Confirm Password:<input type="password" name="cpassword"/><br/><br/>
    <input type="button" name="Submit" value="Submit"/>
</div>
