@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About Page</h1>
    <p>Name:Manasi Nighot</p>
    <p>Address:Nighotwadi, Manchar</p>
    <p>Pin Code:410503</p>
    <p>Mobile no.:9561128566</p>
</div>
